<h2>Station list</h2>
<table>
  <tr>
	<% for i in 0 .. @stations.length - 1 %>
	  <td>
        <a href="/<%= @stations[i]['owl:sameAs'].split(':')[1] %>"><%= @stations[i]["dc:title"] %>(<%= @stations[i]['odpt:railway'].split('.')[2] %>)</a>
      </td>
      <% if ((i + 1) % 5) == 0 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>